# Sensitive credentials & configs
~
.ssh/
*config.txt
saved_account*.txt
*no_auto_login.txt
*tat_auto_login.txt

# Large binaries & Game Client
*.zip
*.exe
TLKN-setup.exe
TinhLinh_Lite/
__pycache__/
*.pyc

# System & OS
Thumbs.db
.DS_Store
