# Sensitive credentials & configs
~
.ssh/
*config.txt
saved_account*.txt
*no_auto_login.txt
*tat_auto_login.txt
github_token.txt
mcp_daemon_heartbeat.txt

# Large binaries & Game Client
*.zip
*.exe
TLKN-setup.exe
TinhLinh_Lite/
TinhLinh_Lite.jar
TinhLinh.jar
jre/
Acc*/
autofarm_log*.txt
last_farm_map*.txt
route_cache*.txt
__pycache__/
*.pyc

# System & OS
Thumbs.db
.DS_Store

