[Unit]
Description=SSZG game cluster autostart
Wants=network-online.target
After=network-online.target mysqld.service mariadb.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="HOME=/root"
Environment="PATH=/usr/lib/erlang/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/sbin/sszg-autostart start
ExecStop=/usr/local/sbin/sszg-autostart stop
TimeoutStartSec=600
TimeoutStopSec=300
KillMode=process

[Install]
WantedBy=multi-user.target
