<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>partner_rarity_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,192},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,12},{93,112}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,319},{185,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{185,118}}</string>
                <key>sourceSize</key>
                <string>{185,160}</string>
            </dict>
            <key>partner_rarity_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,191},{307,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{307,126}}</string>
                <key>sourceSize</key>
                <string>{321,160}</string>
            </dict>
            <key>partner_rarity_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,193},{264,152}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{264,152}}</string>
                <key>sourceSize</key>
                <string>{300,164}</string>
            </dict>
            <key>partner_rarity_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,398},{89,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{89,110}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,2},{85,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,13},{85,110}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,101},{89,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,8},{89,118}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,194},{125,118}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{125,118}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,206},{139,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{139,116}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,206},{97,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,9},{97,116}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,38},{139,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{139,116}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_rarity_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,193},{181,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{181,118}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>partner_summon_asset_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,324},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>partnersummon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,431},{185,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,47}}</string>
                <key>sourceSize</key>
                <string>{185,47}</string>
            </dict>
            <key>partnersummon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,135},{56,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,12}}</string>
                <key>sourceSize</key>
                <string>{56,12}</string>
            </dict>
            <key>partnersummon_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,376},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>partnersummon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,441},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>partnersummon_book_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,300},{60,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>partnersummon_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,125},{265,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,82}}</string>
                <key>sourceSize</key>
                <string>{265,82}</string>
            </dict>
            <key>partnersummon_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,347},{265,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,82}}</string>
                <key>sourceSize</key>
                <string>{265,82}</string>
            </dict>
            <key>partnersummon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,440},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>partnersummon_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,390},{117,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{117,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>partnersummon_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,192},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>partnersummon_image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,114},{54,75}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{54,75}}</string>
                <key>sourceSize</key>
                <string>{58,81}</string>
            </dict>
            <key>partnersummon_image_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,38},{288,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,85}}</string>
                <key>sourceSize</key>
                <string>{288,85}</string>
            </dict>
            <key>partnersummon_image_10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,38},{288,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,85}}</string>
                <key>sourceSize</key>
                <string>{288,85}</string>
            </dict>
            <key>partnersummon_image_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,319},{1,1}}</string>
                <key>offset</key>
                <string>{-67.5,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>partnersummon_image_11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,319},{1,1}}</string>
                <key>offset</key>
                <string>{-67.5,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>partnersummon_image_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,372},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>partnersummon_image_12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,443},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>partnersummon_image_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{327,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,131}}</string>
                <key>sourceSize</key>
                <string>{327,131}</string>
            </dict>
            <key>partnersummon_image_13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{327,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,131}}</string>
                <key>sourceSize</key>
                <string>{327,131}</string>
            </dict>
            <key>partnersummon_image_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,375},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>partnersummon_image_14_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,429},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>partnersummon_image_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{629,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{629,187}}</string>
                <key>sourceSize</key>
                <string>{631,187}</string>
            </dict>
            <key>partnersummon_image_15_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{629,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{629,187}}</string>
                <key>sourceSize</key>
                <string>{631,187}</string>
            </dict>
            <key>partnersummon_image_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,60},{150,144}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{150,144}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>partnersummon_image_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,489},{46,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{46,20}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>partnersummon_image_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,114},{81,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,20}}</string>
                <key>sourceSize</key>
                <string>{81,20}</string>
            </dict>
            <key>partnersummon_image_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,179},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>partnersummon_image_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,58},{136,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>partnersummon_image_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,58},{136,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>partnersummon_image_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,361},{136,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>partnersummon_image_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,191},{101,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>partnersummon_image_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,429},{57,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{57,57}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>partnersummon_image_9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,429},{57,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{57,57}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>partnersummon_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,209},{145,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,179}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>partnersummon_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{187,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,20}}</string>
                <key>sourceSize</key>
                <string>{187,20}</string>
            </dict>
            <key>partnersummon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,179},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{28,34}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>partnersummon_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,363},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,44}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>partnersummon_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{282,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,54}}</string>
                <key>sourceSize</key>
                <string>{286,54}</string>
            </dict>
            <key>partnersummon_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,363},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>partnersummon_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,410},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>partnersummon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,324},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,105}</string>
            </dict>
            <key>partnersummon_six_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{252,248}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,248}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>partnersummon_six_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,60},{136,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,132}}</string>
                <key>sourceSize</key>
                <string>{140,134}</string>
            </dict>
            <key>partnersummon_six_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,408},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,76}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>partnersummon_six_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,319},{190,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
            <key>partnersummon_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,209},{187,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,191}}</string>
                <key>sourceSize</key>
                <string>{187,191}</string>
            </dict>
            <key>partnersummon_skill_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,361},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>partnersummon_skill_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,321},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>partnersummon_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,398},{141,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,106}}</string>
                <key>sourceSize</key>
                <string>{141,106}</string>
            </dict>
            <key>partnersummon_tag_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,179},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>partnersummon_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,369},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>partnersummon_type_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,38},{288,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,85}}</string>
                <key>sourceSize</key>
                <string>{288,85}</string>
            </dict>
            <key>partnersummon_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,197},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{27,33}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>txt_cn_partnersummon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,429},{88,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,64}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>txt_cn_partnersummon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,101},{88,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,64}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>txt_cn_partnersummon_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{406,34}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{406,34}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>txt_cn_partnersummon_god.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,306},{77,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{77,102}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>txt_cn_partnersummon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,179},{177,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{177,36}}</string>
                <key>sourceSize</key>
                <string>{177,46}</string>
            </dict>
            <key>txt_cn_partnersummon_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{294,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{294,56}}</string>
                <key>sourceSize</key>
                <string>{296,76}</string>
            </dict>
            <key>txt_cn_partnersummon_share_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,135},{294,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{294,56}}</string>
                <key>sourceSize</key>
                <string>{296,76}</string>
            </dict>
            <key>txt_cn_partnersummon_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{199,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{199,36}}</string>
                <key>sourceSize</key>
                <string>{199,48}</string>
            </dict>
            <key>txt_cn_partnersummon_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,480},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{81,25}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,480},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{81,25}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,488},{63,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{63,21}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,488},{63,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{63,21}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,125},{61,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{61,21}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,125},{61,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{61,21}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,480},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{91,25}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,480},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{91,25}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>txt_cn_partnersummon_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,300},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>txt_cn_partnersummon_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,303},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>txt_cn_partnersummon_type_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,306},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>txt_cn_partnersummon_type_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,431},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>txt_cn_partnersummon_welfar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,101},{100,89}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{100,89}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>partnersummon.png</string>
            <key>size</key>
            <string>{2037,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed05643e025fade495c216b308b22744$</string>
            <key>textureFileName</key>
            <string>partnersummon.png</string>
        </dict>
    </dict>
</plist>
